.formData {
  margin-top: -6.5em;
  background-color: #3b3054;
  padding: 1.5em 1.5em 0em 1.5em;
  border-radius: 1em;
  background-image: url("../../../public/bg-boost-mobile.svg");
}

.url-list {
  margin-top: 20px;
}

.url-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.url-item span {
  margin-right: 10px;
}

.shortened{
  padding: 1em;
  font-size: 17px;
 background: white;
 border-radius: 5px;
}
.horisontal{
  margin: 0.5em -1em;
}
.shorten-link{
  color: #2acfcf;
}


@media only screen and (min-width: 1024px) {
  .main-section{
  }
  .formData {
    background-image: url("../../../public/bg-boost-desktop.svg");
    padding: 2.5em 2.5em 1em 2.5em;
    margin-top: -6em;
    border: solid 1px black;
  }
  .horisontal{
    display: none;
  }
  .shortened{
   display: flex;
   justify-content: space-between;
   margin-top: 1em;
  }
  .link-active-one {
      flex: 70%;
  }
  .link-active-two{
    flex: 30%;
    display: flex;
    justify-content: space-between;
  }
  .shorten-link{
    color: #2acfcf;
    margin-top: 0.5em;
  }
}
