:root{
--Cyan: hsl(180, 66%, 49%);
--Red: hsl(0, 87%, 67%);
--Gray: hsl(0, 0%, 75%);
--Grayish-Violet: hsl(257, 7%, 63%);
--Dark-Violet: hsl(257, 27%, 26%);
--Very-Dark-Blue: hsl(255, 11%, 22%);
--Very-Dark-Violet: hsl(260, 8%, 14%);
}
@media only screen and (min-width: 1px) {
  .navTop {
    padding: 1.5em;
  }
  .navBottom {
    padding: 1.5em;
    background: #EFF0F7;
    margin-top: 5em;
  }
}
@media only screen and (min-width: 1024px) {
  .navBottom, .navTop {
    padding: 2em 8em;
  }
}
