@media only screen and (min-width: 1px) {
  .navTop {
    padding: 1.5em;
  }
  .navBottom {
    padding: 1.5em;
    background-color: #bfbfbf;
    margin-top: 5em;
  }
}
@media only screen and (min-width: 1024px) {
  .navTop {
    padding: 2em 7em;
  }
  .navBottom {
    padding: 2em 7em;
    background-color: #bfbfbf;
    margin-top: 5em;
  }
}
